.gridTiles{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.wrapper{
    width: 75%;
    margin: 0 auto;
}
@media all and (max-device-width: 500px){
    .wrapper{
        width: 100%;
    }
}
